.App {
  text-align: center;
  height: 100vh;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: flex-start;
  height: 30%;
}
.bg {
  display: flex;
  justify-content: space-between;
}
